<div id="left">
  <!-- <img src="http://www.k9ventures.com/wp-content/themes/k9theme/images/logos/logo90x100.png" alt="K9 Ventures" class="centeredImage"> -->

  <img src="/images/NotSXSW-cropped.png" alt="!SXSW on Pi Day" class="centeredImage">
</div>

<% form_for @guest do |f| %>
  <ul class="rounded">
    <li><%= f.text_field :name, :placeholder => "Name" %></li>
    <li><%= f.text_field :company, :placeholder => "Company" %></li>
    <li><%= f.text_field :email, :placeholder => "Email" %></li>
    <li><%= f.text_field :twitter, :placeholder => "Twitter" %></li>
    <li><%= f.text_field :tag1, :placeholder => "Ask me about" %></li>
    <li><%= f.text_field :tag2, :placeholder => "Ask me about" %></li>
    <li><%= f.text_field :tag3, :placeholder => "Ask me about" %></li>

  </ul>
  <%= link_to "Submit", nil, :class => "whiteButton submit" %>
<% end %>