<h1>New guest</h1>

<% form_for(@guest) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :company %><br />
    <%= f.text_field :company %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :twitter %><br />
    @<%= f.text_field :twitter %>
  </p>
  <p>
    <%= f.label :printed %><br />
    <%= f.radio_button :printed, "0", :checked => true %>No &nbsp;&nbsp;&nbsp; <%= f.radio_button :printed, "1" %>Yes
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', guests_path %>